<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title Page-->
    <title>Login - IQ Games</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Content/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Content/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Main CSS-->
    <link href="~/Content/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container" style="padding:0px;">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" style="left:0px;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            
                            <div class="header-button">
                                
                                <div class="account-wrap" style="float:right;margin-left:1400px;">
                                    <div class="account-item js-item-menu">
                                       
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Menu</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                           
                                           
                                            <div class="account-dropdown__footer">
                                                 <a href="/quiz/account">
                                                    <i class="zmdi zmdi-account"></i>View Profile
                                                </a>
                                                <a href="/home/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            </div>
            <!-- END PAGE CONTAINER-->

        </div>
        <!-- Jquery JS-->
        <script src="~/Content/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/Content/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/Content/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/Content/vendor/slick/slick.min.js">
        </script>
        <script src="~/Content/vendor/wow/wow.min.js"></script>
        <script src="~/Content/vendor/animsition/animsition.min.js"></script>
        <script src="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/Content/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Content/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/Content/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Content/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Content/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="~/Content/js/main.js"></script>

</body>

</html>
<!-- end document-->