
@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" style="padding:0px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Educational Quizs</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" style="width:200px;height:200px;" src="https://source.unsplash.com/100x100/?education,books" alt="Card image cap">
                                <h5 class="text-sm-center mt-2 mb-1"></h5>
                                <div class="location text-sm-center">
                                    <i class="fa fa-delicious"></i> All Quizs in this category is relevent to education which will help you memorize your content, it works like your content feeder.
                                </div>
                            
                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                <a class="au-btn au-btn--block au-btn--green m-b-20" href="/Quiz/educationalquizs">View All Educational Quizes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Entertainment Quizs</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" style="width:200px;height:200px;" src="~/Content/cat/edu.jpg" alt="Card image cap">
                                <h5 class="text-sm-center mt-2 mb-1"></h5>
                                <div class="location text-sm-center">
                                    <i class="fa fa-delicious"></i> All entertainment based quizes, you can learn the way you play more to be more creative and at the same time adoptive
                                </div>
                               
                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                <a class="au-btn au-btn--block au-btn--green m-b-20" href="/Quiz/gamequizs">View All Entertainment Quiz</a>
                            </div>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </div>
</div>

