
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


    <!-- HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid" style="padding:0px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">IQ Quiz</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/id.png" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">IQ Test</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-clock-o"></i> Duration 5 Mins
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-address-book-o"></i> Questions 10
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/iqquiz">Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Eduction Quiz</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/edu.jpg" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Math Test</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-clock-o"></i> Duration 5 Mins
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-address-book-o"></i> Questions 10
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/mathtest">Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Entertainment Quiz</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/entertainment.jpg" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Am I mad?</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-clock-o"></i> Duration 5 Mins
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-address-book-o"></i> Questions 10
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/funquiz">Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Game Category</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/sudoku.png" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">sudoku </h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-road"></i> Type Game
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-rocket"></i> Logical
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/sudoku">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Game Category</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/puzzle.jpg" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Word Search </h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-road"></i> Type Game
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-rocket"></i> Puzzle
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/puzzle">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Logical Questions</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/logical.jpg" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Logical Test</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-clock-o"></i> Duration 5 Mins
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-address-book-o"></i> Questions 10
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/logicalquiz">Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Common Sense Quiz</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" style="width:100px;height:100px;" src="~/Content/cat/commonsense.png" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Common Sense Test</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-clock-o"></i> Duration 5 Mins
                                    </div>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-address-book-o"></i> Questions 10
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a class="au-btn au-btn--block au-btn--green m-b-20" href="/quiz/commonsence">Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


